.btn {
  display: block;
  max-width: 260px;
  padding: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $gray-dark;
  background-color: #ffffff;
  border: 2px solid $gray-dark;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $gray-dark;
    color: rgba(255, 255, 255, 1);
  }

  &:active {
    color: grba(255, 255, 255, 0.3);
  }
}

.btn--green {
  color: rgba(255, 255, 255, 1);
  background-color: $green-light;
  border-color: $green-light;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: $green-light;
  }
}
