.contacts {
  padding-top: 44px;
  padding-bottom: 39px;
}

.contacts__title {
  @include title;
}

.contacts__table {
  margin-bottom: 43px;
}

.contacts__table-parameter,
.contacts__table-value {
  padding-top: 40px;
  vertical-align: top;
}

.contacts__table-parameter {
  width: 77px;
}

.contacts__email {
  color: $gray-dark;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.contacts__btn {
  margin: 0 auto;
}
