.field-message {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  border: none;
  border-top: 1px solid $green-light;
}

.field-message__title {
  position: absolute;
  top: -9px;
  left: 0;
  padding-right: 23px;
  background-color: #ffffff;
  cursor: pointer;

  @include field-title;
}

.field-message__textarea {
  width: 100%;
  min-height: 142px;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.03em;
  border: 2px solid $gray-dark;
  resize: none;

  &::placeholder {

    color: rgba(68, 68, 68, 0.3);
  }
}

.field-message__textarea:hover,
.field-message__textarea:focus,
.field-message__textarea:active {
  border-color: #62d1ba;
}

@media (min-width: $tablet-width) {
  .field-message {
    width: 768px;
    padding-top: 50px;
    padding-left: 168px;
    margin-bottom: 44px;
    border: none;
  }

  .field-message__title {
    top: 67px;
    left: 2px;
  }

  .field-message__textarea {
    padding: 13px 15px;
    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .field-message {
    width: 942px;
    margin-bottom: 40px;
    padding-left: 0;
  }

  .field-message__title {
    top: 67px;
    left: -112px;
  }

  .field-message__textarea {
    padding: 13px 16px;
    letter-spacing: 0.03em;
  }
}
