.field-phone {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 40px;
  border: none;
  border-top: 1px solid $green-light;
}

.field-phone__title {
  position: absolute;
  top: -10px;
  left: 0;
  padding-right: 29px;
  background-color: #ffffff;

  @include field-title;
}

.field-phone__input {
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .field-phone {
    padding-top: 60px;
    padding-bottom: 15px;
    padding-left: 168px;
    border: none;
  }

  .field-phone__title {
    top: 67px;
    left: 3px;
    background-color: transparent;
  }

  .field-phone__input {
    &::placeholder {
      font-size: 19px;
      line-height: 19px;
      padding-left: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-phone {
    padding-right: 175px;
    padding-left: 174px;
  }

  .field-phone__title {
    top: 66px;
    left: 62px;
  }
}
