.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.form__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.form__required-message {
  display: block;
  margin-top: 7px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.form__btn {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 49px;
  }

  .form__container {
    width: 768px;
    padding: 0 50px;
  }

  .form__checkbox {
  background-color: #f1f1f1;
  }

  .form__contacts {
    background-color: #f1f1f1;
  }

  .form__message .form__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .form__required-message {
    order: 2;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__btn {
    width: 231px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    width: 1150px;
  }

  .form__message .form__container {
    padding: 0 225px;
  }

  .form__required-message {
    margin-top: 9px;
  }

  .form__btn {
    width: 229px;
  }
}
