.map {
  width: 100%;
  height: 457px;
  margin-bottom: 39px;
  background-color: #ececec;
}

@media (min-width: $tablet-width) {
  .map {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;
    height: 457px;
    margin-bottom: 0;
  }
}
