@mixin divider {
  border-top: 1px solid #ececec;
}

@mixin title {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

@mixin link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin field-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green-light;
  text-transform: uppercase;
}
