.page-footer {
  min-height: 160px;
  padding-top: 20px;
  background-color: $gray-light;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  position: relative;
  display: block;
  margin-right: 40px;
  margin-left: 37px;
  padding-top: 27px;
  padding-bottom: 23px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
}

.page-footer__copyright-icon {
  position: absolute;
  right: -1px;
  top: 22px;
  width: 27px;
  height: 35px;
}

.page-footer__copyright:hover path,
.page-footer__copyright:focus path {
  fill: #46c1ae;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 51px;
  }

  .page-footer__container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 50px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 35px;
    margin-right: 60px;
  }

  .page-footer__logo[href]:hover path,
  .page-footer__logo[href]:focus path {
    fill: #46c1ae;
  }

  .page-footer__logo[href]:active {
    opacity: 0.3;
  }

  .page-footer__copyright {
    margin: 0;
    padding-top: 13px;
    padding-right: 56px;
    padding-bottom: 3px;
    padding-left: 0;
  }

  .page-footer__copyright-icon {
    top: 7px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 50px;
  }

  .page-footer__container {
    width: 1150px;
  }

  .page-footer__logo {
    margin-left: 1px;
  }
}
