.page-footer {
  min-height: 160px;
  padding-top: 25px;
  background-color: $gray-light;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid $gray-medium;
}

.social__list {
  @include list-reset;
  display: flex;
  flex-flow: row wrap;
  margin-left: 53px;
  margin-right: 62px;
  margin-bottom: 29px;
}

.social__item {
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 28px;
  height: 26px;

  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active path {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

.social__link svg {
  position: absolute;
}

.social__link--insta svg {
  bottom: 0;
  left: 4px;
}

.social__link--fb svg {
  bottom: -1px;
  left: 10px;
}

.social__link--tw svg {
  bottom: 1px;
  left: 5px;
}

.page-footer__copyright {
  position: relative;
  display: block;
  margin-right: 40px;
  margin-left: 37px;
  padding-top: 27px;
  padding-bottom: 23px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
}

.page-footer__copyright-icon {
  position: absolute;
  right: -1px;
  top: 22px;
  width: 27px;
  height: 35px;
}

.page-footer__copyright:hover path,
.page-footer__copyright:focus path {
  fill: #46c1ae;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
  }

  .page-footer__container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 50px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 87px;
  }

  .page-footer__social {
    border: none;
  }

  .social__list {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
    padding-right: 56px;
  }

  .page-footer__copyright-icon {
    top: -5px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 48px;
  }

  .page-footer__container {
    width: 1150px;
  }

  .page-foter__logo {
    margin-right: 89px;
  }

  .page-footer__social {
    margin-top: 4px;
  }
}
