.page-header {
  border-top: 1px solid $gray-medium;
  border-bottom: 1px solid $gray-medium;
}

.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  align-self: center;
  display: block;
  padding: 22px;
  padding-bottom: 12px;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

.page-header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    border: none;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 89px, #ececec 89px, #ececec 90px, transparent 90px, transparent 100%);
  }

  .page-header__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    z-index: 5;
    align-self: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .page-header__delivery {
    position: absolute;
    bottom: 14px;
    right: 50px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1150px;
  }

  .page-header__logo {
    position: absolute;
    left: 500px;
  }
}
