.page-header {
  border-top: 1px solid $gray-medium;
}

.page-header__container {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  padding: 22px;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  @include list-reset;
}

.site-list__item,
.user-list__item {
  padding-left: 30px;
  padding-right: 30px;

  @include divider;
}

.site-list__link,
.user-list__link {
  display: block;
  padding-top: 31px;
  padding-right: 30px;
  padding-bottom: 31px;
  padding-left: 46px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover, &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
