.product-week {
  padding-top: 27px;
  padding-bottom: 42px;
}

.product-week__container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product-week {
    padding-top: 47px;
    padding-bottom: 71px;
  }

  .product-week__container {
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    padding-top: 64px;
    padding-bottom: 98px;
  }
  .product-week__container {
    width: 1150px;
    padding: 0 50px;
  }
}
