.product-week {
  padding-top: 27px;
  padding-bottom: 35px;

  &::after {
    content: "";
    display: block;
    position: relative;
    top: 35px;
    width: 320px;
    height: 7px;
    margin: 0 auto;
    background-image: url("../img/decor/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 320px;
    transform: rotate(180deg);
  }
}

.product-week__container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product-week {
    padding-top: 34px;
    padding-bottom: 50px;

    &::after {
      top: 50px;
      width: 768px;
      height: 17px;
      background-size: 768px 17px;
    }
  }

  .product-week__container {
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    padding-top: 46px;
    padding-bottom: 74px;

    &::after {
      top: 72px;
      width: 1050px;
      height: 23px;
      background-size: 1050px;
    }
  }

  .product-week__container {
    width: 1150px;
    padding: 0 50px;
  }
}
