.reviews {
  padding-top: 24px;
  padding-bottom: 45px;

  &::after {
    content: "";
    display: block;
    position: relative;
    top: 44px;
    left: 0;
    width: 320px;
    height: 7px;
    margin: 0 auto;
    background-image: url("../img/decor/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 320px;
  }
}

.reviews__container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  @include title;
  margin-bottom: 24px;
}

.reviews__btn {
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 70px;

    &::after {
      top: 70px;
      width: 768px;
      height: 17px;
      background-size: 768px 17px;
      transform: rotate(180deg);
    }
  }

  .reviews__container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 768px;
    min-height: 455px;
    padding: 0 50px;
    padding-top: 76px;
    background-image: url("../img/decor/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/decor/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    order: 1;
    margin-left: -3px;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__wrapper {
    position: relative;
    order: 3;
    width: 668px;
  }

  .reviews__btn {
    order: 2;
    min-width: 174px;
    margin-top: 2px;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 71px;

    &::after {
      top: 69px;
      width: 1050px;
      height: 23px;
      background-size: 1050px;
    }
  }

  .reviews__container {
    width: 1150px;
    padding-top: 71px;
    padding-right: 50px;
    padding-left: 225px;
    background-position: 50px top;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__wrapper {
    width: 874px;
  }

  .reviews__btn {
    margin-top: 9px;
  }
}
