.slider__toggles {
  margin-bottom: 30px;
}

.slider__arrow {
  width: 130px;
  min-height: 52px;
  padding: 0;
  padding-left: 38px;
  background: #ffffff;
  border: 1px solid $gray-medium;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.slider__arrow:hover,
.slider__arrow:focus {
  &::before {
    opacity: 0.6;
  }
}

.slider__arrow:active {
  &::before {
    opacity: 0.3;
  }
}

.slider__arrow--prev {
  &::before {
    background-image: url("../img/icon-left-arrow.svg");
  }
}

.slider__arrow--next {
  margin-left: -4px;

  &::before {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media (min-width: $tablet-width) {
  .slider__toggles {
    position: absolute;
    right: 0;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 5;
  }

  .slider__arrow {
    width: 87px;
    padding-left: 19px;
    border: none;
  }
}
