.contacts {
  padding-top: 34px;
  padding-bottom: 39px;
}

.contacts__container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__descr {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  padding-right: 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.contacts__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.contacts__info-row {
  display: flex;
  flex-flow: row wrap;

  &:first-child {
    margin-bottom: 30px;
  }
}

.contacts__info-parameter {
  width: 77px;
}

.contacts__info-value {
  width: 184px;
}

.contacts__email {
  padding-bottom: 3px;
  color: $gray-dark;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__btn {
  margin: 0 30px;
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 57px;
  }

  .contacts__container {
    width: 768px;
  }

  .contacts__descr {
    padding: 0 50px;
  }

  .contacts__title {
    position: relative;
    margin-left: -3px;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      right: 2px;
      width: 47px;
      height: 82px;
      background-image: url("../img/icon/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .contacts__info {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 56px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__info-row {
    width: 50%;
  }

  .contacts__info-value {
    width: 221px;
  }

  .contacts__btn {
    align-self: center;
    min-width: 230px;
    letter-spacing: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 105px;
  }

  .contacts__container {
    position: relative;
    flex-flow: row wrap;
    width: 1150px;
    padding: 0 50px;
  }

  .contacts__descr {
    width: 525px;
    padding-left: 174px;
    padding-top: 71px;
    padding-bottom: 55px;
  }

  .contacts__title {
    margin-bottom: 48px;
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -8px;
      right: 365px;
    }
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__info-row {
    width: 100%;
  }

  .contacts__btn {
    position: absolute;
    left: 195px;
    bottom: 0;
  }
}
