.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 30px;
  z-index: 5;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  top: 29px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    width: 27px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__logo {
  align-self: center;
  display: block;
  padding: 21px;
  padding-bottom: 13px;
}

.main-nav__logo[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.main-nav__item {
  padding-left: 30px;
  padding-right: 30px;

  @include divider;
}

.main-nav__link {
  display: block;
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 46px;

  @include link;
  font-size: 17px;
  line-height: 24px;

  &:hover[href],
  &:focus[href] {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active[href] {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__add-menu {
  display: none;

  @include list-reset;
}

.main-nav__add-item {
  padding-left: 30px;
  padding-right: 30px;

  @include divider;
}

.main-nav__add-link {
  display: block;
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 46px;

  @include link;
  font-size: 17px;
  line-height: 24px;

  &:hover[href],
  &:focus[href] {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active[href] {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__delivery {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: #ffffff;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .user-list {
    display: none;
  }

  .main-nav--nojs {
    position: static;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
  }

  .main-nav--nojs .user-list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    order: 1;
    flex-grow: 1;
    width: 113px;
    height: 47px;
    padding: 0;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 47px;
  }

  .main-nav__list {
    order: 3;
    flex-direction: row;
    flex-wrap: wrap;
    width: 305px;
  }

  .main-nav__item {
    padding: 0;
    margin-right: 37px;
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-nav__link {
    padding: 17px 0;
    font-size: 15px;
  }

  .main-nav__delivery {
    order: 4;
    align-self: center;
    display: block;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    order: 2;
    width: 149px;
    height: 73px;
    margin-left: 73px;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 73px;
  }

  .main-nav__list {
    order: 1;
    width: 377px;
  }

  .main-nav__item {
    margin-right: 35px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:first-child {
      border-right: 1px solid $gray-medium;
    }

    &:nth-child(odd) {
      padding-right: 35px;
    }
  }

  .main-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 17px;
  }

  .main-nav__add-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 3;
    width: 377px;
  }

  .main-nav__add-item {
    padding: 0;
    margin-right: 61px;
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-nav__add-link {
    padding: 17px 0;
    font-size: 15px;
  }
}
