.page-header {
  position: relative;
  z-index: 1;
  min-height: 80px;
  border-top: 1px solid $gray-medium;
  border-bottom: 1px solid $gray-medium;
}

.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    border: none;
  }

  .page-header__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1150px;
  }
}
